.navigation_logo {
    height: auto;
    width: 12%;
    padding-left: 80px;
}

.navigation_link {

    text-decoration: none;
    padding-right: 11px;
    padding-left: 11px;
    color: black;
}

.navigation_links {
    float: right;
    font-size: 12px;
    font-weight: bold;
    padding-top: 40px;
}

.navigation {
    border-bottom: 1px solid lightgrey;
    padding-left: 100px;
    padding-right: 100px;
    box-shadow: 0px 9px 10px -10px;
}

body {
    font-family: 'Lato', sans-serif;
    /*font-family: 'Montserrat', sans-serif;*/
}

.block2 {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    padding-left: 100px;
    padding-right: 100px;
    margin-top: 5px;
    background-color: #f7f7f7;
}


.block2_img {
    width: 48%;
}

.block2_img img {
    width: 160%;
    margin-left: -196px;
}

.block2_content {
    text-align: right;
    line-height: 0;
    margin-left: 89px;
}

.block2_content-line1 {
    font-size: 69px;
    font-weight: bolder;
}

.block2_content-line2 {
    font-size: 78px;
    font-weight: bolder;
    color: #1cf0d5;
}

.block2_content-line3 {
    font-size: 69px;
    font-weight: bolder;
}

.block2_content-line4 {
    font-size: 14px;
    font-weight: bold;
    color: #1cf0d5;
    background-color: #1e1e1e;
    padding: 12px;
    padding-left: 150px;
}

.block2_buttons {
    margin-top: 100px;
}

.block2_button1 {
    font-size: 41px;
    color: white;
    background-color: #1e1e1e;
    padding: 22px 50px 22px 50px;
    margin-right: -3px;
    line-height: 97px;
}

.block2_button2 {
    font-size: 41px;
    color: black;
    background-color: #1cf0d5;
    padding: 22px 50px 22px 50px;
}

.block3 {
    background-color: #1e1e1e;
    padding-left: 182px;
    display: flex;
    flex-wrap: wrap;
    padding-right: 110px;
    margin-top: -3px;
}

.block3_content1 {
    flex: 1;
    margin-top: 18px;
}

.block3_content1-line1 {
    font-size: 69px;
    font-weight: bolder;
    color: white;
    line-height: 0;
}

.block3_content1-line2 {
    font-size: 69px;
    font-weight: bolder;
    color: #1cf0d5;
    line-height: 0;
}

.block3_content1-line3,
.block3_content1-line4,
.block3_content1-line5 {
    color: white;
    font-size: 20px;
    margin-right: 55px;
}

.block3_content2 {
    flex: 0.6;
    border: solid 2px #1cf0d5;
    margin: 60px 0 60px 0;
    padding: 44px 32px 44px 32px;
}

.block3_content2-box1-title,
.block3_content2-box2-title,
.block3_content2-box3-title {
    color: #1cf0d5;
    font-size: 30px;
    font-weight: bolder;
    margin-bottom: 10px;
}

.block3_content2-box1-content,
.block3_content2-box2-content,
.block3_content2-box3-content {
    color: white;
}

.separator {
    border-color: #1cf0d5;
    margin: 30px 0;
}

.block4 {
    padding-left: 182px;
    padding-right: 110px;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 54px;
    background-color: #f7f7f7;
}

.block4_content1 {
    margin-top: 35px;
    flex: 1;
    padding-right: 40px;
}

.block4_content2 {
    flex: 1;
    background-color: #1e1e1e;
    color: white;
    position: relative;
}

.block4_content1-line1 {
    font-size: 69px;
    font-weight: bolder;
    color: black;
    line-height: 1;
}

.block4_content1-line2 {
    font-size: 69px;
    font-weight: bolder;
    color: #1cf0d5;
    margin-bottom: 38px;
    line-height: 1;
}

.block4_content1-menu-item {
    font-size: 22px;
    font-weight: bolder;
    padding: 10px;
}

.block4_content1-menu-item:hover {
    color: #1cf0d5;
}

.block4_content2-imgbox {}

.block4_content2-imgbox img {
    width: 100%;
}

.block4_content2-text {
    padding: 14px 30px 0 30px;
}

.block4_content2-title {
    font-size: 24px;
    font-weight: bolder;
    padding-left: 20px;
    padding-top: 29px;
    line-height: 1;
}

.block4_content2-aside {
    background-color: #1cf0d5;
    display: inline;
    right: 0;
    position: absolute;
    bottom: 0;
    padding: 10px;
    font-size: 22px;
    font-weight: bolder;
}

.block4_content3 {
    display: flex;
    justify-content: space-between;
    flex-basis: 100%;
    z-index: 1;
    margin-top: 10%;
    flex-wrap: wrap;
}


.block4_content3-box {
    flex: 1;
    color: white;
    background-color: #1e1e1e;
    margin: 13px;
    font-size: 26px;
    font-weight: bolder;

    - r: 24px;
    position: relative;
    padding: 20px;
}

.block4_content3-num {
    color: #1cf0d5;
    font-size: 60px;
    font-weight: bold;
    position: absolute;
    z-index: -1;
    top: -54px;
    font-family: 'Montserrat', sans-serif;
    left: 0;
}

.block5 {
    background-color: #1e1e1e;
    padding-left: 189px;
    padding-right: 130px;
    position: relative;
    padding-top: 46px;
}

.block5_line1 {
    color: white;
    font-size: 65px;
    font-weight: bolder;
}

.block5_line2 {
    color: #1cf0d5;
    font-size: 65px;
    font-weight: bolder;
    padding-bottom: 36px;
}

.block5_img-box {
    display: flex;
    align-items: flex-end;
    margin-bottom: -4px;
}

.block5_img-box-left {
    background-color: #1cf0d5;
}

.block5_img-box-left img {
    width: 100%;
    opacity: 0.5;
}

.block5_img-box-right img {
    width: 100%;
}


.block5_aside {
    display: flex;
    position: absolute;
    right: 125px;
    top: 122px;
}


.block5_aside1 {
    background-color: white;
    height: 15px;
    width: 15px;
    margin: 3px;
}

.block5_aside1--turquoise {
    background-color: #1cf0d5;
}

.block6 {
    background-color: #f7f7f7;
    padding-left: 189px;
    padding-right: 130px;
    position: relative;
    padding-top: 46px;
    padding-bottom: 50px;
}

.block6_line1 {
    color: black;
    font-size: 65px;
    font-weight: bolder;
}

.block6_line2 {
    color: #1cf0d5;
    font-size: 65px;
    font-weight: bolder;
    padding-bottom: 36px;
}

.block6_aside {
    display: flex;
    position: absolute;
    right: 125px;
    top: 122px;
}


.block6_aside1 {
    background-color: black;
    height: 15px;
    width: 15px;
    margin: 3px;
}

.block6_aside1--turquoise {
    background-color: #1cf0d5;
}

.block6_image-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.block6_img-box-left {
    text-align: center;
}

.block6_img-box-left img {
    width: 80%;
}


.block6_rect-box1 {
    background-color: #1e1e1e;
    height: 100px;
    margin-top: -4px;
}

.block6_rect-box1-name {
    color: white;
    font-size: 24px;
    font-weight: bold;
    padding: 18px 38px 0 38px;
    text-align: center;
}

.block6_rect-box1-designation {
    color: white;
    font-size: 17px;
    text-align: center;
}

.block7 {
    background-color: #1e1e1e;
    padding-left: 189px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}

.block7_left {
    margin-top: 55px;
    padding-bottom: 56px;
    width: 42%;
}

.block7_left-line1 {
    color: white;
    font-size: 65px;
    font-weight: bolder;
}

.block7_left-line2 {
    color: #1cf0d5;
    font-size: 63px;
    font-weight: bolder;
}

.block7_left-title {
    color: white;
    font-size: 18px;
    font-weight: bolder;
    margin-top: 35px;
}

.block7_left-content {
    color: white;
    font-size: 15px;
}

.block7_right {
    height: 307px;
    background-color: #1cf0d5;
    margin-right: 126px;
    padding: 3%;
    width: 40%;
}

.block7_right-line1 {
    color: white;
    font-size: 24px;
    font-weight: bolder;
}

.block7_input {
    display: block;
    width: 100%;
    height: 31px;
    margin: 10px 0;
    font-size: 12px;
    border: 0px;
}

.block7_input::placeholder {
    padding-left: 10px;
    font-family: 'Lato', sans-serif;
}

.block7_message {
    display: block;
    width: 99%;
    margin: 10px 0;
    font-size: 12px;
    border: 0px;
}

.block7_message::placeholder {
    padding-left: 10px;
    font-family: 'Lato', sans-serif;
}

.block7_submit {
    background-color: #1f1f1f;
    color: white;
    font-size: 20px;
    font-weight: bolder;
    margin: 10px 0;
    width: 100%;
    padding: 11px 0;
    font-family: 'Lato', sans-serif;
    border: 0px;
}

.footer {
    background-color: #171717;
    padding-left: 189px;
    padding-top: 20px;
}

.footer_text {
    color: white;
    font-size: 14px;
}

.footer_icons {}
