.navigation_logo {
    height: auto;
    width: 12%;
    padding-left: 80px;
}

.navigation_link {

    text-decoration: none;
    padding-right: 11px;
    padding-left: 11px;
    color: black;
}

.navigation_links {
    float: right;
    font-size: 12px;
    font-weight: bold;
    padding-top: 40px;
}

.navigation {
    border-bottom: 1px solid lightgrey;
    padding-left: 100px;
    padding-right: 100px;
    box-shadow: 0px 9px 10px -10px;
}

body {
    font-family: 'Lato', sans-serif;
    /*font-family: 'Montserrat', sans-serif;*/
}

.block2 {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    padding-left: 100px;
    padding-right: 100px;
}


.block2_img {
    width: 48%;
    z-index: 1;
}

.block2_img img {
    width: 160%;
    margin-left: -196px;
}

.block2_content {

    text-align: right;
    line-height: 0;
    margin-left: 89px;
}

.block2_content-line1 {
    font-size: 69px;
    font-weight: bolder;
}

.block2_content-line2 {
    font-size: 78px;
    font-weight: bolder;
    color: turquoise;
}

.block2_content-line3 {
    font-size: 69px;
    font-weight: bolder;
}

.block2_content-line4 {
    font-size: 14px;
    font-weight: bold;
    color: turquoise;
    background-color: black;
    padding: 12px;
    padding-left: 149px;
}

.block2_buttons {
    margin-top: 100px;
}

.block2_button1 {
    font-size: 41px;
    color: white;
    background-color: black;
    padding: 22px 50px 22px 50px;
    margin-right: -3px;
    line-height: 97px;
}

.block2_button2 {
    font-size: 41px;
    color: black;
    background-color: turquoise;
    padding: 22px 50px 22px 50px;
}

.block3 {
    background-color: black;
    padding-left: 182px;
    display: flex;
    flex-wrap: wrap;
    padding-right: 110px;
    margin-top: -3px;
}

.block3_content1 {
    flex: 1;
    margin-top: 18px;
}

.block3_content1-line1 {
    font-size: 69px;
    font-weight: bolder;
    color: white;
    line-height: 0;
}

.block3_content1-line2 {
    font-size: 69px;
    font-weight: bolder;
    color: turquoise;
    line-height: 0;
}

.block3_content1-line3,
.block3_content1-line4,
.block3_content1-line5 {
    color: white;
    font-size: 20px;
    margin-right: 55px;
}

.block3_content2 {
    flex: 0.6;
    border: solid 2px turquoise;
    margin: 60px 0 60px 0;
    padding: 44px 32px 44px 32px;
}

.block3_content2-box1-title,
.block3_content2-box2-title,
.block3_content2-box3-title {
    color: turquoise;
    font-size: 30px;
    font-weight: bolder;
    margin-bottom: 10px;
}

.block3_content2-box1-content,
.block3_content2-box2-content,
.block3_content2-box3-content {
    color: white;
}

.separator {
    border-color: turquoise;
    margin: 30px 0;
}

.block4 {
    padding-left: 182px;
    padding-right: 110px;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 54px;
    background-color: lightgrey;
}

.block4_content1 {
    margin-top: 35px;
    flex: 1;
    padding-right: 40px;
}

.block4_content2 {
    flex: 1;
    background-color: black;
    color: white;
    position: relative;
}

.block4_content1-line1 {
    font-size: 69px;
    font-weight: bolder;
    color: black;
    line-height: 1;
}

.block4_content1-line2 {
    font-size: 69px;
    font-weight: bolder;
    color: turquoise;
    margin-bottom: 38px;
    line-height: 1;
}

.block4_content1-menu-item {
    font-size: 22px;
    font-weight: bolder;
    padding: 10px;
}

.block4_content1-menu-item:hover {
    color: turquoise;
}

.block4_content2-imgbox {}

.block4_content2-imgbox img {
    width: 100%;
}

.block4_content2-text {
    padding: 14px 30px 0 30px;
}

.block4_content2-title {
    font-size: 24px;
    font-weight: bolder;
    padding-left: 20px;
    padding-top: 29px;
    line-height: 1;
}

.block4_content2-aside {
    background-color: turquoise;
    display: inline;
    right: 0;
    position: absolute;
    bottom: 0;
    padding: 10px;
    font-size: 22px;
    font-weight: bolder;
}

.block4_content3 {
    display: flex;
    justify-content: space-between;
    flex-basis: 100%;
    z-index: 1;
    margin-top: 10%;
    flex-wrap: wrap;
}


.block4_content3-box {
    flex: 1;
    color: white;
    background-color: black;
    margin: 13px;
    font-size: 26px;
    font-weight: bolder;

    - r: 24px;
    position: relative;
    padding: 20px;
}

.block4_content3-num {
    color: turquoise;
    font-size: 60px;
    font-weight: bold;
    position: absolute;
    z-index: -1;
    top: -54px;
    font-family: 'Montserrat', sans-serif;
    left: 0;
}

.block5 {
    background-color: black;
    padding-left: 189px;
    padding-right: 130px;
    position: relative;
    padding-top: 46px;
}

.block5_line1 {
    color: white;
    font-size: 65px;
    font-weight: bolder;
}

.block5_line2 {
    color: turquoise;
    font-size: 65px;
    font-weight: bolder;
    padding-bottom: 36px;
}

.block5_img-box {
    display: flex;
}

.block5_img-box-left {
    background-color: turquoise;
}

.block5_img-box-left img {
    width: 100%;
    opacity: 0.5;
}

.block5_img-box-right img {
    width: 100%;
}


.block5_aside {
    display: flex;
    position: absolute;
    right: 125px;
    top: 122px;
}


.block5_aside1 {
    background-color: white;
    height: 15px;
    width: 15px;
    margin: 3px;
}

.block5_aside1--turquoise {
    background-color: turquoise;
}

.block6 {
    background-color: white;
    padding-left: 189px;
    padding-right: 130px;
    position: relative;
    padding-top: 46px;
}

.block6_line1 {
    color: black;
    font-size: 65px;
    font-weight: bolder;
}

.block6_line2 {
    color: turquoise;
    font-size: 65px;
    font-weight: bolder;
    padding-bottom: 36px;
}

.block6_aside {
    display: flex;
    position: absolute;
    right: 125px;
    top: 122px;
}


.block6_aside1 {
    background-color: black;
    height: 15px;
    width: 15px;
    margin: 3px;
}

.block6_aside1--turquoise {
    background-color: turquoise;
}